@media only screen  and (min-width: 375px) {
    body{
        margin: 0px;
    }

    header{
        height: 300px;
        background-color: beige;
    }

    main{
        display: grid;
        height: 50px;
        grid-template-columns: repeat(5, 1fr);
        
    }

    footer{
        background-color: purple;
        height: 200px;
    }

    .star {
        background-image: url("../img/darkstar.png");
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
    }



}

@media only screen  and (min-width: 728px) {
    
}

@media only screen  and (min-width: 1280px) { 

}